<%- include('partials/header') %>
<%- include('partials/navbar') %>

<!-- Conteúdo Principal -->
<main class="container mx-auto px-4 py-8">
    <!-- Aqui você pode adicionar o conteúdo principal da página -->
</main>

<%- include('partials/footer') %> 